.container{
    margin-left: 22px;
    width: 500px;
}

.col-md-1{
    width:  1.333333%;
}

.row{
    padding: 10px;
}

.txtColor{
    background-color: #f3f3f3;
}
button{
    background-color: lightsteelblue;
}
.parentTask{
    width:250px;
    height: 30px;
    padding-top: 6px;
    padding-left: 12px;
    padding-bottom: 6px;
    padding-right: 12px;
    background-color: #f3f3f3;
    border-radius: 3px;
}
.lblsuccess{
    color:red;
}